{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Hitlist</title>
    <link rel="stylesheet" href=" {% static 'hitlist/styles/universal-styles/main.css'%} " />
  </head>
  <body>
    <nav class="website-navigation">
      <a href="#" class="nav-links home">
        <img src="#" alt="logo" />
      </a>
      <a href="#" class="nav-links login">
        Log In
      </a>  
      <a href="" class="nav-links signup">
        <div class="signup">Sign Up</div>
      </a>
    </nav>

    {% block content %} 
    {% endblock content %}

    <footer>
      Copyright &copy; {% now "Y" %} Jozua Patalan
    </footer>

    <script src="{% static 'hitlist/scripts/script.js'%}"></script>
  </body>
</html>
