{% extends "hitlist/base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static './hitlist/styles/home-styles/home.css'%}">

    <main>
        <h1>Welcome Back, [USER]</h1>

        <section class="data-section">
            {% for people in peoples %}
            <div class="data">
                <div class="left">
                    <img src="#" class="profile-pic" alt="profile picture">
                    <span class="name">{{ people.first_name }} {{ people.last_name }}</span>
                </div>
                <div class="right">
                    {% if people.status_choices == 'L'%}
                        <span class="status loathed">{{ people.get_status_choices_display }}</span>
                    {% elif people.status_choices == 'I'%}
                        <span class="status ignored">{{ people.get_status_choices_display }}</span>
                    {% elif people.status_choices == 'F'%}
                        <span class="status forgiven">{{ people.get_status_choices_display }}</span>
                    {% endif %}
                    <img src="#" alt="delete icon">
                </div>
            </div>
            {% endfor %}
        </section>
        
    </main>
{% endblock content%}