{% extends "hitlist/base.html" %}
{% load static %}

{% block content%}
    <link rel="stylesheet" href="{% static './hitlist/styles/index-styles/index.css' %}">
    <main class="hero-section">
        <h1 class="section-title">
            <span class="underlined">Not all villains</span> wear capes. 
            Some cut you off in traffic
        </h1>
        <p>
            Are you holding onto petty grudges like a true champion? Have no fear—The Hitlist is here! 
            It is your ultimate tool for keeping tabs on every last person who wronged you, from Jeremy
            from Accouting to Crystal the 7/11 Karen
        </p>

        <button class="call-to-action-button">
            Start Your List
        </button>
    </main>
    <section class="features-section">
        <h1 class="section-title">Features <span class="underlined">You'll Defiinitely</span> Want to Abuse</h1>
        <div class="feature-container">
            <div>
                <img src="#" alt="logging icon">
                Log Like a Pro
            </div>
            <div>
                <img src="#" alt="update status icon">
                Update Status
            </div>
            <div>
                <img src="#" alt="track status icon">
                Track Forgiveness</div>
        </div>
    </section>
    <section class="statistics-section">
        <h1 class="section-title">Over <span class="underlined">3.5 million</span> grievances logged on the app. 
            Unlimited grudges. Because closure is overrated.
        </h1>
        <button class="call-to-action-button">Start Your List</button>
    </section>
{%endblock content%}