@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Delicious+Handrawn&display=swap');

:root {
    --background-color : #1d1d1d !important;
    --text-color : #ffffff !important;
}

body  {
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    font-family: 'Cal Sans', 'Arial';
    text-transform: uppercase;
    padding: 2.5%;
    text-align: center;
}

label {
    font-family: 'Delicious Handrawn', 'Arial Bold';
    text-transform: bold;
    color: #9a0202;
}


.container {
    display: grid;
    grid-template-columns:  5% repeat(4, auto);
}

.hitlist-label {
    font-weight: bold;
    padding: 10px;
}

.container > .data {
    padding: 10px;
}