
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Delicious+Handrawn&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Base */
* {
    padding: 0;
    margin: 0;
    border: 0;

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

:root {
    --background-color : #1d1d1d;
    --text-color : #ffffff ;
    --margins: 5%;
}

a {
    color: red;
}

a:hover {
    color: white;
}

body  {
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100%;

}

nav {
    display: flex;
    padding-left: var(--margins);
    padding-right: var(--margins);  

    height: 5em;
}

.navbar-items {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.labels {
    text-transform: uppercase;
}

.navbar-items > div {
    display: flex;
    justify-content: center;
    align-items: center ;   
}

.home {
    font-family: 'Delicious Handrawn', cursive, 'Courier New', Courier, monospace;
    font-size: 2em;
    /* flex-basis: 10em; */
}

/* INDEX */
.container {
    display: grid;
    grid-template-columns:  5% repeat(4, auto);
}

.hitlist-label {
    font-weight: bold;
    padding: 10px;
}

.container > .content {
    padding: 10px;
}

/* Sign Up */

.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
