{% extends "hitlist/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class='content-section'>
        <form method="POST">
            {% csrf_token %}
            <fieldset class='form-group'>
                <legend> Log In</legend>
                {{ form | crispy }}
            </fieldset>

            <div class='form group'>
                <button type=submit>Log In</button>
            </div>
            <small class='text-muted'>
                Don't have an account? <a class='ml-2' href={% url 'hitlist-register' %}>Sign Up</a>
            </small>
        </form>
    </div>
{% endblock content %}
