{% extends "hitlist/base.html" %}
{% load tailwind_filters %}

{% block content %}
    <section class="h-[80vh] w-auto flex justify-center items-center">
        <div class='bg-gray-400/20 w-[50%] h-[80vh] p-6 rounded-xl'>
            <form method="POST">
                {% csrf_token %}
                <fieldset>
                    <h1 class="font-bold text-5xl py-[1rem] text-center uppercase"> Log In </h1>
                    {{ form | crispy }}
                </fieldset>
    
                <div>
                    <button class='bg-red-500 p-3 w-[100%] rounded-lg my-[2rem]' type=submit>Log In</button>
                </div>
                <small class='text-white/70'>
                    Don't have an account? <a class='ml-2 text-red-500 font-bold' href={% url 'hitlist-register' %}>Sign Up</a>
                </small>
            </form>

            {% comment %} {% crispy form %} {% endcomment %}
        </div>
    </section>
{% endblock content %}
