{% extends "hitlist/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <link rel="stylesheet" href="{% static './accounts/styles/universal-styles/accounts.css' %}">
    <section class="form-section signup">
        <div class="form-container">
            <form method="POST">
                {% csrf_token %}
                <fieldset>
                    <legend class='title'>Sign Up</legend>
                    {{ form | crispy }}
                    <a class='links' href={% url 'hitlist-login'%}>Already have an account?</a>
                </fieldset>
                <button class="form-button" type='submit'>Sign Up</button>
            </form>
        </div>
    </section>
{% endblock content%}